/* src/index.css */
* {
  font-family: 'Luckiest Guy', cursive;
  /* font-family: 'Love Ya Like A Sister', cursive;
  font-family: 'Bubblegum Sans', cursive;
  font-family: 'Cabin Sketch', cursive; */

  font-family: 'Chelsea Market', cursive;
  color: #595351;
  text-align: center;
  /* background-color: #fdf5f8; */
}

h1 {
  /* padding-top: 0; */
  margin-top: 40px; 
  font-size: 48pt;
  letter-spacing: .3rem;
  text-align: center;
  color: #515559
}

#board {
  /* width: 600px; */
  /* display: flex; */
  font-size: 22pt;
  background-color: #B2E1D7;
  /* flex-wrap: wrap; */
  /* margin-right: auto;
  margin-left: auto; */
  border-radius: 3px;
  border: 5px solid #B2E1D7;
}

button {
  /* color: #edaaca;
  color: #515559; */
  border-radius: 3px;
  border: none;
  background-color: #749fb9;
  color: white;
  font-size: 12pt;
  padding: 10px;
  margin-top: 20px;
}

.block {
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background-color: white;

  /* border: 4px solid #dbbcca; */
}

.correct-block {
  background-color: green;
}
.incorrect-block {
  background-color: red;
}
.empty-block {
  background-color: transparent;
}