/* src/index.css */
* {
  font-family: 'Luckiest Guy', cursive;
  /* font-family: 'Love Ya Like A Sister', cursive;
  font-family: 'Bubblegum Sans', cursive;
  font-family: 'Cabin Sketch', cursive; */

  font-family: 'Chelsea Market', cursive;
  color: #515559;
  text-align: center;
}
#container {
  margin-top: 40px;
  border-radius: 10px;
  background-color: #eff9ff;
  display: inline-block;
  padding: 40px;
  border: 5px solid #bbd7e8;
}
h1 {
  /* padding-top: 0; */
  margin-top: 40px; 
  font-size: 48pt;
  letter-spacing: .3rem;
  text-align: center;
  color: #515559
}

#board {
  width: 280px;
  display: flex;
  font-size: 22pt;
  background-color: #B2E1D7;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  border: 5px solid #B2E1D7;
}

.block {
  width: 30px;
  margin: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  /* border: 4px solid #dbbcca; */
}

.emptyBlock {
  width: 30px;
  margin: 10px;
  /* background-color: #e1ffce; */
  padding: 10px;
  background-color: #B2E1D7;

}

button {
  color: #edaaca;
  color: #515559;
  border-radius: 3px;
  border: none;
  background-color: #749fb9;
  color: white;
  font-size: 12pt;
  padding: 10px;
  margin-top: 20px;
}

